html {
  position: relative;
  min-height: 100%;
}

body {
  background: #fff;
  color: #5a3c59;
  font-size: 8em;
  overflow: hidden;
}

.half-height {
  min-height: 49vh;
}

.no-scroll {
  overflow: hidden;
}

#address {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 200;
  color: #5a3c58;
  font-size: 20px;
}
